@charset "utf-8";

/**
* Elektronisches Qualitätsmanagement der Universität Hildesheim
* 
* @link http://www.uni-hildesheim.de/qm
* @package QMS
* @version 2.0
*/

/**
* Hacks und Schrift
*/

/* Zurücksetzen der Innen- und Außenabstände */
* {
  margin: 0;
  padding: 0;
}

/* Schriftgröße */
body, td, th {
  font: normal 75%/167% Verdana, sans-serif;
}
/* Hack für Browser, die die Schriftgröße prozentuell vererben */
td, th {
  f\ont-size: 100%;
} 

/**
* Allgemeine Einstellungen
*/

h1 {
  font-size: 2em;
  line-height: 1.1;
  border-bottom: 2px solid #000000;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 1em;
}

p {
  padding-bottom: 1.1em;
}
/**
* Headbereich
* @section header
*/
#head {
  height: 60px;
}
#head h1 {
  display: none;
}

/**
* Sidebar mit allen darin enthaltenen Elementen 
* @section sidebar
*/
#sidebar {
  display: none;
}

/**
* Container für den Contentbereich
* @section content
*/
#content {
  margin-left: 10px;
  padding: 1em;
}

#content ul, ol {
    margin-left: 15px;
}

/**
* Hauptnavigation unter dem Header 
* @section top_nav
*/
#top_nav {
  display: none;
}

/**
* Liste für die Breadcrumbs
* @section breadcrumbs
*/
#breadcrumbs {
  padding-left: 1.5em;
}
#breadcrumbs li {
  float: left;
  list-style-image: url('img/arrow_small_right.gif');
  margin-left: .8em;
  margin-right: .8em;
  margin-bottom: 1em;
}

/**
* Container für den Footer
* @section footer
*/
#footer {
  display: none;
}

/**
* Tabelle zur Auflistung von Datenbankinhalten
* @section table_listing 
*/
.table_listing {
  border-collapse: collapse;
}

/* head bereich der tabelle */
.table_listing thead, .table_head {
  border: 2px solid #000000;
}
.table_listing thead td, .table_head td {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}

/* footer bereich der tabelle */
.table_listing tfoot {
  display: none;
}

/* body bereich der tabelle */
.table_listing tbody {
  border: 2px solid #000000;
}
.table_listing tbody td {
  border-bottom: 1px solid #000000;
  padding-left: 1px;
  padding-right: 1px; 
}

/* anzeige der seitennummern in thead bzw in tfoot */
.table_listing .page_numbers {
  visibility: hidden;
  font-size: 0.001em;
}

/**
* Tabelle zum Anzeigen von Formularen 
* @section form_table
*/
.form_table {
  border-collapse: collapse;
}

/* kopfbereich */
.form_table thead td {
  font-weight: bold;
  border: 2px solid #000000;
}

/* fußbereich */
.form_table tfoot {
  text-align: right;
  border: 2px solid #000000;
}

/* body bereich */
.form_table tbody {
  border: 2px solid #000000;
}

.form_table td, .form_table th {
  border-bottom: 1px solid #000000;
  padding-left: 4px;
  padding-right: 4px;
}

/* formatierung für th, also "überschriften" auf der linken seite */
.form_table th {
  border-right: 2px solid #000000;
  text-align: left;
}

/* Darstellung der Notationen der Prozesse */
.process_notation {
  color:#000000;
  border:1px solid #999999;
  background-color:#e6e6e6;
  margin-top:12pt;
  margin-bottom:12pt;
  padding-top:2pt;
  padding-bottom:2pt;
  padding-left:8pt;
  padding-right:8pt;
}

/* Darstellung einer Tab Navigation */

.tabmenu
{
  font-size:1.2em;
}

.tabmenu li 
{
  display: inline;
  overflow: hidden;
  list-style-type: none;
}

.tabmenu a, a.active 
{
  display: none;
}

.tabmenu a.active
{
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}