@charset "utf-8";

/**
* Elektronisches Qualitätsmanagement der Universität Hildesheim
* 
* @link http://www.uni-hildesheim.de/qm
* @package QMS
* @version 2.0
*/

/**
* Hacks und Schrift
*/

/* Zurücksetzen der Innen- und Außenabstände */
* {
  margin: 0;
  padding: 0;
}

/* Hässlicher Fix für die Anzeige im CKEditor. Ansonsten werden die Aufzählungszeichen 
   bei Listen zu weit Links und somit außerhalb des Editors dargestellt */
.cke_show_borders ul, .cke_show_borders ol {
  margin: auto;
  padding-left: 30px;
}

/* Schriftgröße */
body, td, th {
  font: normal 75%/167% Verdana, sans-serif;
}
/* Hack für Browser, die die Schriftgröße prozentuell vererben */
td, th {
  f\ont-size: 100%;
} 

/**
* Allgemeine Einstellungen
*/

h1 {
  font-size: 2em;
  line-height: 1.1;
  border-bottom: 2px solid #CC3333;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 1em;
}

p {
  padding-bottom: 1.1em;
}

/**
* Headbereich
* @section header
*/
#head {
  height: 60px;
}
#head h1 {
  background: url(../img/Unilogo-klein.gif) no-repeat left center;
  background-color: #EFEFEF;
  color: #000000;
  font-weight: normal;
  height: 60px;
  padding-left: 165px;
  vertical-align: bottom;
}

/**
* Sidebar mit allen darin enthaltenen Elementen 
* @section sidebar
*/
#sidebar {
  float: left;
  width: 160px;
  height: 100%;
  background-color: #E6E6E6;
  border-bottom: 1px solid #999999;
}
#sidebar h2 {
  background-color: #999999;
  line-height: 1.8em;
  font-size: 1.1em;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
#sidebar li {
  line-height: 2em;
  border-bottom: 1px solid #CCCCCC;
  margin-left: .5em;
  margin-right: .5em;
}
#sidebar li a {
  display: block;
  color: #000000;
  text-decoration: none;
}
#sidebar a:hover {
  background-color: #FFFFFF;
}


/**
* Container für den Contentbereich
* @section content
*/
#content {
  margin-left: 160px;
  border-left: 1px solid #999999;
  padding: 1em;
}

#content ul, ol {
  margin-left: 15px;
}

/**
* Hauptnavigation unter dem Header 
* @section top_nav
*/
#top_nav {
  background-color: #CC3333;
  height: 2em;
  padding-right: .8em;
}

#top_nav li {
  border-right: 1px solid #FFFFFF;
  line-height: 2em;
  list-style-type: none;
  padding-left: .8em;
  padding-right: .8em;
  float: left;
}
#top_nav li:hover {
  background-color: #DD4444;
}
#top_nav li a {
  color: #FFFFFF;
  display: block;
}
#top_nav li a:hover {
  text-decoration: none;
}
#top_nav strong {
  color: #FFFFFF;
}
#top_nav p {
  text-align:right;
  line-height: 2em;
}

/**
* Liste für die Breadcrumbs
* @section breadcrumbs
*/
#breadcrumbs {
  padding-left: 1.5em;
}
#breadcrumbs li {
  float: left;
  list-style-image: url('../img/arrow_small_right.gif');
  margin-left: .8em;
  margin-right: .8em;
  margin-bottom: 1em;
}

/**
* Container für den Footer
* @section footer
*/
#footer {
  text-align: center;
  border-top: 1px solid #999999;
  clear: both;
}

/**
* Tabelle zur Auflistung von Datenbankinhalten
* @section table_listing 
*/
.table_listing {
  border-collapse: collapse;
}

/* head bereich der tabelle */
.table_listing thead, .table_head {
  background-color: #E6E6E6;
  border: 2px solid #CCCCCC;
}
.table_listing thead td, .table_head td {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}

/* footer bereich der tabelle */
.table_listing tfoot {
  border: 2px solid #CCCCCC;
}

/* body bereich der tabelle */
.table_listing tbody {
  border: 2px solid #CCCCCC;
}
.table_listing tbody td {
  border-bottom: 1px solid #CCCCCC;
  padding-left: 1px;
  padding-right: 1px; 
}
.table_listing tbody tr:hover {
  background-color: #EFEFEF;
}

/* anzeige der seitennummern in thead bzw in tfoot */
.table_listing .page_numbers {
  background-color: #E6E6E6;
  border-top: 2px solid #CCCCCC;
  font-weight: normal;
  text-align: center;
}

/**
* Formulare mit Labels 
* @section default_form
*/

.default_form {
  border: 2px solid #CCCCCC;
  background-color: #FFFFFF;
}
.default_form label {
  float: left;
  display: block;
  width: 200px;
  background-color: #E6E6E6;
  border-right: 1px solid #CCCCCC;
  margin-right: 5px;
}

.default_form br {
  clear: left;
}
.default_form h2 {
  background-color: #E6E6E6;
  border-bottom: 1px solid #CCCCCC;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0px;
}
.default_form p {
  display: block;
  background-color: #E6E6E6;
  border-top: 1px solid #CCCCCC;
  text-align: right;
}

/**
* Tabelle zum Anzeigen von Formularen 
* @section form_table
*/
.form_table {
  border-collapse: collapse;
}

/* kopfbereich */
.form_table thead {
  border: 2px solid #CCCCCC;
}
.form_table thead td {
  background-color: #E6E6E6;
  font-weight: bold;
}

.form_table .errors {
  padding-left: 15px;
  color: red;
}

/* fußbereich */
.form_table tfoot {
  background-color: #E6E6E6;
  text-align: right;
  border: 2px solid #CCCCCC;
}

/* formulare mit definitionslisten */
.dd_form {
    background-color: #E6E6E6;
    border: 1px solid black;
}

.dd_form dt {
    font-weight: bold;
    float: left;
    width:35%;
    height: 100%;
    display: block;
}

.dd_form dd {
    margin-left: 35%;
    text-align: left;
    padding: 2px;
    background-color: #FFFFFF;
    border-left: 1px solid black;
}


.dd_form li {
    color: red;
    margin-left: 15px;
}

/* formulare mit tabellen */
.form_table tbody {
  border: 2px solid #CCCCCC;
}

.form_table td, .form_table th {
  border-bottom: 1px solid #CCCCCC;
  padding-left: 4px;
  padding-right: 4px;
}

/* formatierung für th, also "überschriften" auf der linken seite */
.form_table th {
  background-color: #E6E6E6;
  border-right: 2px solid #CCCCCC;
  width: 25%;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
}

.form_table .tfoot {
  background-color: #E6E6E6;
  text-align: right;
  padding-right: 25px;
}

/* Darstellung der Notationen der Prozesse */
.process_notation {
  color:#000000;
  border:1px solid #999999;
  background-color:#e6e6e6;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:8px;
  padding-right:8px;
}

/* Darstellung der Prozessliste auf der Übersichtsseite */
.processList
{
  list-style:none;
}
.processList li, .processList li img
{
  margin-top:5px;
  margin-bottom:5px;
  vertical-align: middle;
}

/* Darstellung einer Tab Navigation */

.tabmenu
{
  border-bottom: 1px solid black;
  font-size:1.2em;
  padding: 5px 10px 0 10px;
}

.tabmenu li 
{
  display: inline;
  overflow: hidden;
  padding: 5px 5px 0px 5px;
  list-style-type: none;
  
}

.tabmenu a, a.active 
{
  background: #E6E6E6;
  border: 1px solid black;
  padding: 3px 6px 1px 6px;
  text-decoration: none;
}

.tabmenu a.active
{
  background: #FFFFFF;
  border-bottom: 2px solid #FFFFFF; 
}

.tabmenu a:hover 
{
  background: #999999; 
}

.tabmenu a.active:hover 
{
  background: #FFFFFF;
}
